# Python
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
venv312/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Env files
.env
.env.example

# Data / outputs
outputs/
*.jsonl
*.json

# Docker + K8s temp
*.log
